opencv-python>=4.9.0
mediapipe>=0.10.14
numpy>=1.26.4  # Ensures compatibility with TensorFlow
tensorflow>=2.15.0
scikit-learn>=1.4.1
matplotlib>=3.8.0
protobuf==4.25.3
keras>=2.15.0
tensorboard>=2.15.0
imgaug>=0.4.0  # For data augmentation
gunicorn
flask
gTTS
playsound
